# Analysis Template Walkthrough

# Setup

## Select extract
In order for the template cells to query data from the correct repository, enter the repository name as `repository` and repository object type as `object_type`.

In [1]:
repository = 'dryad'
object_type = 'records'

In [2]:
import pandas as pd
import numpy as np
import re
from pathlib import Path

In [3]:
#see more rows and columns of output
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

## Helper Functions

In [4]:
import os, sys
dir2 = os.path.abspath('../')
dir1 = os.path.dirname(dir2)
if not dir1 in sys.path: sys.path.append(dir1)

from utils import analysis
from utils.crosswalk import RepositoryExtract, property_crosswalk
from utils import accessors

# Summary Statistic Walkthroughs

Read in repository extracts .json file

In [5]:
df = pd.read_json(f'{repository}_{object_type}.json')

In [6]:
df

,_links_search,identifier,id,storageSize,relatedPublicationISSN,title,authors,abstract,funders,keywords,usageNotes,locations,relatedWorks,versionNumber,versionStatus,curationStatus,versionChanges,publicationDate,lastModificationDate,visibility,sharingLink,userId,license,fieldOfScience,methods,page_search,version,numCitations,numDownloads,numViews,_links_metadata,path,url,size,mimeType,status,digest,digestType,description,page_metadata
0,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.nj2mg77,28194,1769456,1055-7903,Data from: A demonstration of unsupervised mac...,"[{'firstName': 'Shahan', 'lastName': 'Derkarab...",One major challenge to delimiting species with...,[{'organization': 'National Science Foundation...,"[Paranonychidae, integrative taxonomy, Neogene...","<div class=""o-metadata__file-usage-entry""><h4 ...",[{'place': 'western North America'}],"[{'relationship': 'primary_article', 'identifi...",1,submitted,Published,none,2019-07-26,2019-09-23,public,https://datadryad.org/stash/share/U7pTmtqObvWK...,7103,https://creativecommons.org/publicdomain/zero/...,None,None,1,29027,1,39,165,"{'self': {'href': '/api/v2/files/109249'}, 'st...",Metanonychus_Input_Matrices.zip,https://dryad-assetstore-east.s3.amazonaws.com...,802735.0,application/zip,created,63d7a0bc8ff595700ce8b2f974f6fa34,md5,Data Input matrices used for all analyses cond...,2.0
1,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.nj2mg77,28194,1769456,1055-7903,Data from: A demonstration of unsupervised mac...,"[{'firstName': 'Shahan', 'lastName': 'Derkarab...",One major challenge to delimiting species with...,[{'organization': 'National Science Foundation...,"[Paranonychidae, integrative taxonomy, Neogene...","<div class=""o-metadata__file-usage-entry""><h4 ...",[{'place': 'western North America'}],"[{'relationship': 'primary_article', 'identifi...",1,submitted,Published,none,2019-07-26,2019-09-23,public,https://datadryad.org/stash/share/U7pTmtqObvWK...,7103,https://creativecommons.org/publicdomain/zero/...,None,None,1,29027,1,39,165,"{'self': {'href': '/api/v2/files/109250'}, 'st...",Metanonychus_UCEalignments_50percent.zip,https://dryad-assetstore-east.s3.amazonaws.com...,540588.0,application/zip,created,bf7931bf1a534ce065a8a81b9305f1be,md5,Individual UCE locus alignments included in th...,2.0
2,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.nj2mg77,28194,1769456,1055-7903,Data from: A demonstration of unsupervised mac...,"[{'firstName': 'Shahan', 'lastName': 'Derkarab...",One major challenge to delimiting species with...,[{'organization': 'National Science Foundation...,"[Paranonychidae, integrative taxonomy, Neogene...","<div class=""o-metadata__file-usage-entry""><h4 ...",[{'place': 'western North America'}],"[{'relationship': 'primary_article', 'identifi...",1,submitted,Published,none,2019-07-26,2019-09-23,public,https://datadryad.org/stash/share/U7pTmtqObvWK...,7103,https://creativecommons.org/publicdomain/zero/...,None,None,1,29027,1,39,165,"{'self': {'href': '/api/v2/files/109252'}, 'st...",Metanonychus_UCEalignments_70percent.zip,https://dryad-assetstore-east.s3.amazonaws.com...,390902.0,application/zip,created,519686daaeadbcc983a16924ccb7754d,md5,Individual UCE locus alignments included in th...,2.0
3,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.nj2mg77,28194,1769456,1055-7903,Data from: A demonstration of unsupervised mac...,"[{'firstName': 'Shahan', 'lastName': 'Derkarab...",One major challenge to delimiting species with...,[{'organization': 'National Science Foundation...,"[Paranonychidae, integrative taxonomy, Neogene...","<div class=""o-metadata__file-usage-entry""><h4 ...",[{'place': 'western North America'}],"[{'relationship': 'primary_article', 'identifi...",1,submitted,Published,none,2019-07-26,2019-09-23,public,https://datadryad.org/stash/share/U7pTmtqObvWK...,7103,https://creativecommons.org/publicdomain/zero/...,None,None,1,29027,1,39,165,"{'self': {'href': '/api/v2/files/109253'}, 'st...",Phylogenies.zip,https://dryad-assetstore-east.s3.amazonaws.com...,11041.0,application/zip,created,bf92e9e120644642d96341c9fcea9e3a,md5,Resulting tree files for the COI and UCE 70% t...,2.0
4,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.q6ft5,17689,31656,1932-6203,Data from: Development of machine learning mod...,"[{'firstName': 'Seongjae', 'lastName': 'Kim', ...",The study aimed to develop machine learning mo...,None,"[cornea thickness, RNFL, glaucoma, ocular pres...","<div class=""o-metadata__file-usage-entry""><h4 ...",None,"[{'relationship': 'primary_article', 'identifi...",1,submitted,Published,none,2018-05-05,2020-06-24,public,https://datadryad.org/stash/share/tUEvRKvbHxD3...,25912,https://creativecommons.org/publicdomain/zero/...,None,None,1,17751,1,260,550,"{'self': {'href': '/api/v2/files/59494'}, 'sta...",dataset.zip,https://dryad-assetstore-east.s3.amazonaws.com...,12461.0,application/zip,created,290eb9445e14c4dd1198acdc8636543c,md5,This file includes examination records of reti...,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.6m905qfzp,61800,1455995,1365-2699,Environmental correlates of taxonomic and phyl...,"[{'firstName': 'Andrea', 'lastName': 'Paz', 'e...",<p><b>Aim:</b> There is little consensus on wh...,"[{'organization': 'Fulbright Colombia', 'ident...","[Biodiversity correlates, climate stability, P...",None,None,"[{'relationship': 'primary_article', 'identifi...",6,submitted,Published,metadata_changed,2021-04-30,2021-04-30,public,https://datadryad.org/stash/share/vk4qgKxkhi0i...,66451,https://creativecommons.org/publicdomain/zero/...,None,None,3,117654,0,10,34,"{'self': {'href': '/api/v2/files/679090'}, 'st...",Readme.txt,None,2060.0,text/plain,copied,None,None,None,2.0
2972,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.078bn,12676,89062,1932-6203,Data from: Morbidity rate prediction of dengue...,"[{'firstName': 'Kraisak', 'lastName': 'Kesorn'...","Background: In the past few decades, several r...",None,None,"<div class=""o-metadata__file-usage-entry""><h4 ...",None,"[{'relationship': 'primary_article', 'identifi...",1,submitted,Published,none,2016-05-01,2020-06-24,public,https://datadryad.org/stash/share/uN2piD5h00eA...,10611,https://creativecommons.org/publicdomain/zero/...,None,None,3,12722,1,85,243,"{'self': {'href': '/api/v2/files/49658'}, 'sta...",PONE-D-14-48810.txt,https://dryad-assetstore-east.s3.amazonaws.com...,64813.0,text/plain,created,fb6b3fff00fdb11592b4cec6e21af469,md5,Raw data for PLOS ONE journal entitle: Morbidi...,2.0
2973,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.fj6q573qd,37657,2432316,1063-5157,Repositories for taxonomic data: Where we are ...,"[{'firstName': 'Aurélien', 'lastName': 'Mirall...",<p>Natural history collections are leading suc...,None,"[Big Data, cyberspecimen, omics, repositories,...",None,None,None,4,submitted,Published,metadata_changed,2021-06-24,2021-06-24,public,https://datadryad.org/stash/share/_Fcz-E8P3XeD...,49122,https://creativecommons.org/publicdomain/zero/...,None,None,3,126492,0,7,23,"{'self': {'href': '/api/v2/files/772045'}, 'st...",Template_taxonomy_data_(from_Appendix_S10_and_...,None,65255.0,application/vnd.openxmlformats-officedocument....,copied,None,None,None,2.0
2974,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.fj6q573qd,37657,2432316,1063-5157,Repositories for taxonomic data: Where we are ...,"[{'firstName': 'Aurélien', 'lastName': 'Mirall...",<p>Natural history collections are leading suc...,None,"[Big Data, cyberspecimen, omics, repositories,...",None,None,None,4,submitted,Published,metadata_changed,2021-06-24,2021-06-24,public,https://datadryad.org/stash/share/_Fcz-E8P3XeD...,49122,https://creativecommons.org/publicdomain/zero/...,None,None,3,126492,0,7,23,"{'self': {'href': '/api/v2/files/772046'}, 'st...",Dataset_Journal_survey_all.xlsx,None,795941.0,application/vnd.openxmlformats-officedocument....,copied,None,None,None,2.0
2975,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.fj6q573qd,37657,2432316,1063-5157,Repositories for taxonomic data: Where we are ...,"[{'firstName': 'Aurélien', 'lastName': 'Mirall...",<p>Natural history collections are leading suc...,None,"[Big Data, cyberspecimen, omics, repositories,...",None,None,None,4,submitted,Published,metadata_changed,2021-06-24,2021-06-24,public,https://datadryad.org/stash/share/_Fcz-E8P3XeD...,49122,https://creativecommons.org/publicdomain/zero/...,None,None,3,126492,0,7,23,"{'self': {'href': '/api/v2/files/772047'}, 'st...",Supplementary_Materials.pdf,None,956532.0,application/pdf,copied,None,None,None,2.0

In [7]:
list(df.columns)

['_links_search',
 'identifier',
 'id',
 'storageSize',
 'relatedPublicationISSN',
 'title',
 'authors',
 'abstract',
 'funders',
 'keywords',
 'usageNotes',
 'locations',
 'relatedWorks',
 'versionNumber',
 'versionStatus',
 'curationStatus',
 'versionChanges',
 'publicationDate',
 'lastModificationDate',
 'visibility',
 'sharingLink',
 'userId',
 'license',
 'fieldOfScience',
 'methods',
 'page_search',
 'version',
 'numCitations',
 'numDownloads',
 'numViews',
 '_links_metadata',
 'path',
 'url',
 'size',
 'mimeType',
 'status',
 'digest',
 'digestType',
 'description',
 'page_metadata']

## 1. How many total objects (not just records) are in our main dataset extracts for each repository?
**Property:** unique_identifier

In [8]:
ids = df.DryadRecordsCrosswalk.unique_identifier

In [9]:
ids

0       28194
1       28194
2       28194
3       28194
4       17689
        ...
2971    61800
2972    12676
2973    37657
2974    37657
2975    37657
Name: id, Length: 2976, dtype: int64

In [10]:
ids.nunique()

219

In [11]:
print(f'There are {len(ids)} items in the Dryad extract, with {ids.nunique()} unique IDs.')

There are 2976 items in the Dryad extract, with 219 unique IDs.

In [12]:
#we can see that a few objects have a large number of associated components
ids.value_counts().value_counts()

1      70
2      53
4      22
3      20
6       8
7       7
5       6
11      6
8       3
9       3
15      2
345     1
12      1
13      1
14      1
617     1
21      1
29      1
31      1
32      1
35      1
46      1
47      1
74      1
156     1
159     1
218     1
242     1
268     1
19      1
Name: id, dtype: int64

In [13]:
#look closer at duplicate ids
dryad_dupes = df.loc[df['id'] == 28194]
dryad_dupes

,_links_search,identifier,id,storageSize,relatedPublicationISSN,title,authors,abstract,funders,keywords,usageNotes,locations,relatedWorks,versionNumber,versionStatus,curationStatus,versionChanges,publicationDate,lastModificationDate,visibility,sharingLink,userId,license,fieldOfScience,methods,page_search,version,numCitations,numDownloads,numViews,_links_metadata,path,url,size,mimeType,status,digest,digestType,description,page_metadata
0,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.nj2mg77,28194,1769456,1055-7903,Data from: A demonstration of unsupervised mac...,"[{'firstName': 'Shahan', 'lastName': 'Derkarab...",One major challenge to delimiting species with...,[{'organization': 'National Science Foundation...,"[Paranonychidae, integrative taxonomy, Neogene...","<div class=""o-metadata__file-usage-entry""><h4 ...",[{'place': 'western North America'}],"[{'relationship': 'primary_article', 'identifi...",1,submitted,Published,none,2019-07-26,2019-09-23,public,https://datadryad.org/stash/share/U7pTmtqObvWK...,7103,https://creativecommons.org/publicdomain/zero/...,None,None,1,29027,1,39,165,"{'self': {'href': '/api/v2/files/109249'}, 'st...",Metanonychus_Input_Matrices.zip,https://dryad-assetstore-east.s3.amazonaws.com...,802735.0,application/zip,created,63d7a0bc8ff595700ce8b2f974f6fa34,md5,Data Input matrices used for all analyses cond...,2.0
1,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.nj2mg77,28194,1769456,1055-7903,Data from: A demonstration of unsupervised mac...,"[{'firstName': 'Shahan', 'lastName': 'Derkarab...",One major challenge to delimiting species with...,[{'organization': 'National Science Foundation...,"[Paranonychidae, integrative taxonomy, Neogene...","<div class=""o-metadata__file-usage-entry""><h4 ...",[{'place': 'western North America'}],"[{'relationship': 'primary_article', 'identifi...",1,submitted,Published,none,2019-07-26,2019-09-23,public,https://datadryad.org/stash/share/U7pTmtqObvWK...,7103,https://creativecommons.org/publicdomain/zero/...,None,None,1,29027,1,39,165,"{'self': {'href': '/api/v2/files/109250'}, 'st...",Metanonychus_UCEalignments_50percent.zip,https://dryad-assetstore-east.s3.amazonaws.com...,540588.0,application/zip,created,bf7931bf1a534ce065a8a81b9305f1be,md5,Individual UCE locus alignments included in th...,2.0
2,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.nj2mg77,28194,1769456,1055-7903,Data from: A demonstration of unsupervised mac...,"[{'firstName': 'Shahan', 'lastName': 'Derkarab...",One major challenge to delimiting species with...,[{'organization': 'National Science Foundation...,"[Paranonychidae, integrative taxonomy, Neogene...","<div class=""o-metadata__file-usage-entry""><h4 ...",[{'place': 'western North America'}],"[{'relationship': 'primary_article', 'identifi...",1,submitted,Published,none,2019-07-26,2019-09-23,public,https://datadryad.org/stash/share/U7pTmtqObvWK...,7103,https://creativecommons.org/publicdomain/zero/...,None,None,1,29027,1,39,165,"{'self': {'href': '/api/v2/files/109252'}, 'st...",Metanonychus_UCEalignments_70percent.zip,https://dryad-assetstore-east.s3.amazonaws.com...,390902.0,application/zip,created,519686daaeadbcc983a16924ccb7754d,md5,Individual UCE locus alignments included in th...,2.0
3,{'self': {'href': '/api/v2/datasets/doi%3A10.5...,doi:10.5061/dryad.nj2mg77,28194,1769456,1055-7903,Data from: A demonstration of unsupervised mac...,"[{'firstName': 'Shahan', 'lastName': 'Derkarab...",One major challenge to delimiting species with...,[{'organization': 'National Science Foundation...,"[Paranonychidae, integrative taxonomy, Neogene...","<div class=""o-metadata__file-usage-entry""><h4 ...",[{'place': 'western North America'}],"[{'relationship': 'primary_article', 'identifi...",1,submitted,Published,none,2019-07-26,2019-09-23,public,https://datadryad.org/stash/share/U7pTmtqObvWK...,7103,https://creativecommons.org/publicdomain/zero/...,None,None,1,29027,1,39,165,"{'self': {'href': '/api/v2/files/109253'}, 'st...",Phylogenies.zip,https://dryad-assetstore-east.s3.amazonaws.com...,11041.0,application/zip,created,bf92e9e120644642d96341c9fcea9e3a,md5,Resulting tree files for the COI and UCE 70% t...,2.0

In [14]:
#Dryad extract is set up such that each row is a component (unique path within id)
#with components grouped by the same unique ID
#therefore, we can group by ID to get object-level results, or look at each row to get component-level results

## 2. See the "Licenses offered" tab in /Working documents/Licenses sheet for list of licenses by repo.

## Given the type(s) of license(s) offered by the repo, how many of each type is assigned?
**Property:** License

In [15]:
licenses = df.DryadRecordsCrosswalk.license
licenses

0       https://creativecommons.org/publicdomain/zero/...
1       https://creativecommons.org/publicdomain/zero/...
2       https://creativecommons.org/publicdomain/zero/...
3       https://creativecommons.org/publicdomain/zero/...
4       https://creativecommons.org/publicdomain/zero/...
                              ...
2971    https://creativecommons.org/publicdomain/zero/...
2972    https://creativecommons.org/publicdomain/zero/...
2973    https://creativecommons.org/publicdomain/zero/...
2974    https://creativecommons.org/publicdomain/zero/...
2975    https://creativecommons.org/publicdomain/zero/...
Name: license, Length: 2976, dtype: object

In [16]:
#all objects in Dryad have the same license
licenses.nunique()

1

In [17]:
licenses.value_counts()

https://creativecommons.org/publicdomain/zero/1.0/    2976
Name: license, dtype: int64

## 3. What is the mean number of characters (excluding whitespaces, if possible) per object?
**Property:** Description
**Related function:** `mean_characters`

In [18]:
descriptions = df.DryadRecordsCrosswalk.description
descriptions

0       One major challenge to delimiting species with...
1       One major challenge to delimiting species with...
2       One major challenge to delimiting species with...
3       One major challenge to delimiting species with...
4       The study aimed to develop machine learning mo...
                              ...
2971    <p><b>Aim:</b> There is little consensus on wh...
2972    Background: In the past few decades, several r...
2973    <p>Natural history collections are leading suc...
2974    <p>Natural history collections are leading suc...
2975    <p>Natural history collections are leading suc...
Name: abstract, Length: 2976, dtype: object

In [19]:
#remove None and drop duplicates
#length of output < number of unique IDs, meaning not all objects have description associated
descriptions = pd.Series(filter(None, descriptions)).drop_duplicates()
descriptions

0       One major challenge to delimiting species with...
4       The study aimed to develop machine learning mo...
5       <p>We introduce Optimal-Transport-based Unfold...
8       <p>This data set describes the occurrence (yes...
9       <p>Current moist physics parameterization sche...
                              ...
2935    After the dramatic eutrophication-induced decl...
2964    Workers processing nephrite, antigorite, or ta...
2965    <p><b>Aim:</b> There is little consensus on wh...
2972    Background: In the past few decades, several r...
2973    <p>Natural history collections are leading suc...
Length: 216, dtype: object

In [20]:
print(f'{analysis.mean_characters(descriptions)} mean characters')

1688.861111111111 mean characters

## 4. What is the mean number of characters (excluding whitespaces, if possible) per object?
**Property:** Methods
**Related function:** `mean_characters`

In [21]:
methods = df.DryadRecordsCrosswalk.methods
methods

0       None
1       None
2       None
3       None
4       None
        ...
2971    None
2972    None
2973    None
2974    None
2975    None
Name: methods, Length: 2976, dtype: object

In [22]:
#remove None and drop duplicates
#length of output < number of unique IDs, meaning not all components/objects have methods associated
methods = pd.Series(filter(None, methods)).drop_duplicates()
methods

0       <p>The data is divided into two sets correspon...
3       <p>The bird distribution data are from BirdLif...
4       <p>T<span style="font-style:normal;"><span><sp...
5       <p>This data has been generated by applying mu...
6       <p>The file 'Serengeti.csv' includes Thomson’s...
11             <p>See manuscript Methods section.</p>\r\n
14      <p style="text-indent: 0.5in;text-align: justi...
33      <p class="MDPI31text" style="text-indent:0cm;t...
35      <p>This dataset is extracted from a simulation...
36      <p>This is a script for R used for the analysi...
37      <p>In this study, girls with secondary sexual ...
38      <p>We built a system composed of VI and IR sol...
280     <p>Data were compiled from open-access databas...
287     <p>Data to test the models was sourced from:</...
289     <p>The GT-A sequences were collected by a simi...
906     <p>The “Mechanical MNIST Crack Path” dataset i...
941     <p>Retrospective cohort analysis of consecutiv...
943     <p>Data represent measurements taken of images...
946     <p>Data were collected from 118 Youtube videos...
948     <p>A description of the methods used to collec...
953     <p>We have developed a machine learning model ...
954     <p><strong>Dataset collection:</strong></p>\r\...
955     <p>This dataset includes trained medical conce...
957     <p style="text-align:justify;"><b>Data Source<...
958     <p>The DRIAMS dataset is ressource intended fo...
963     <p>The reference genome of <em>G. quinquepunct...
974     <p>NLM-Chem corpus consists of 150 full-text a...
976     <p>These files were extracted from recordings ...
977     <p>Datasets (1) dictionary (2a) saga texts wer...
983     <p>Data represents model weights as described ...
985     <p><b>Patients and Data Description</b></p>\r\...
989     <p>Participants with suspected<i> </i>OSA (sno...
991     <p>The data was recorded with UHF-GPS collars ...
992     <p>The raw NHANES and RCT datasets are downloa...
994     <p>Data of ultrafiltration UF performance (dur...
995     <p>A bottom-up machine learning approach selec...
1001    <p>A bottom-up machine learning approach selec...
1007    <p>Because the data used to train these models...
1008    <p>A full description of the methods can be fo...
1009    <p>The data were collected using Respironics A...
1010    <p>Each collision is uniquely defined by a set...
1013    <p><strong>Multiple sequence alignments</stron...
1014    <p>The soundings through April 2012 are derive...
1015    <p style="margin-top:16px;margin-bottom:16px;t...
1016    <p>Source data for environmental layers are li...
1048    <p>Data were collected using primary literatur...
1060    <p>167 features towards chondroitin sulfate-A ...
1062    <p>This dataset was provided by DataCastle, a ...
1065    <p>This dataset has two components: training a...
1068    <p>FACS data:<br>\r\n </p>\r\n\r\n<p class="Cx...
1072    <p>The data were obtained from quantum chemica...
1073    <p>The ‘Dataset’ directory contains two datase...
1076    <p style="margin-bottom:11px;">The raw data co...
1078    <p style="text-indent:.5in;">We used three rec...
1081    <p style="text-indent: 0px;text-align: justify...
1083    <p style="margin-bottom:10px;">The energy cons...
1084    <p>X-ray diffraction images were recorded as ....
1085    <p>Please see supplementary information of the...
1089    <p>Full details on sample collection and analy...
1090    <p>Data accompanying Hoyal Cuthill et al 2020,...
1096    <p>We collected physiological signals (e.g., s...
1098    <h4>Supplementary data 1:</h4>\r\n\r\n<p>Diato...
1102    <p>See terraref-dryad.pdf, metadata/methods.cs...
1108    <p>We used the Arachnida 1.1Kv1 probe set (Arb...
1116    <p>Whole genomic DNA was extracted using sever...
1117    <p>Derived using GIS and Random Forest models ...
1118    <p>The impact of Glyphosate and of its commerc...
1121    <p>Presence-absence data of four butterfly spe...
1125    <p>Raster files showing estimated relative spa...
1284    <p>These data were collected by the coauthors,...
1285    <p>Please see Material and Methods section in ...
1287    <p style="margin-bottom:11px;">This test datas...
dtype: object

In [23]:
print(f'{analysis.mean_characters(methods)} mean characters')

1302.5 mean characters

## 5. What are the min and max publication dates for each repo?

## How many objects were published each year for each repo?
**Property:** Publication date

In [24]:
publication_dates = df.DryadRecordsCrosswalk.publication_date
publication_dates

0       2019-07-26
1       2019-07-26
2       2019-07-26
3       2019-07-26
4       2018-05-05
           ...
2971    2021-04-30
2972    2016-05-01
2973    2021-06-24
2974    2021-06-24
2975    2021-06-24
Name: publicationDate, Length: 2976, dtype: object

In [25]:
#concatenate ids and keep unique - object likely has same publication date across components
publication_dates_unique = pd.concat([ids, publication_dates], axis = 1)
publication_dates_unique = publication_dates_unique.drop_duplicates()
publication_dates_unique

         id publicationDate
0     28194      2019-07-26
4     17689      2018-05-05
5     67581      2021-05-04
8     40246      2020-03-02
9     50040      2021-03-04
...     ...             ...
2935  27035      2016-08-10
2964  23265      2019-04-12
2965  61800      2021-04-30
2972  12676      2016-05-01
2973  37657      2021-06-24

[219 rows x 2 columns]

In [26]:
#extract unique dates column as series
publication_dates_use = publication_dates_unique['publicationDate']
publication_dates_use

0       2019-07-26
4       2018-05-05
5       2021-05-04
8       2020-03-02
9       2021-03-04
           ...
2935    2016-08-10
2964    2019-04-12
2965    2021-04-30
2972    2016-05-01
2973    2021-06-24
Name: publicationDate, Length: 219, dtype: object

In [27]:
#remove None values
publication_dates_use = pd.Series(filter(None, publication_dates_use))
publication_dates_use

0      2019-07-26
1      2018-05-05
2      2021-05-04
3      2020-03-02
4      2021-03-04
          ...
213    2016-08-10
214    2019-04-12
215    2021-04-30
216    2016-05-01
217    2021-06-24
Length: 218, dtype: object

In [28]:
#min and max publication year
publication_dates_use.min(), publication_dates_use.max()

('2013-09-06', '2022-11-08')

In [29]:
#records per year
publication_dates_use.astype('datetime64[ns]').apply(lambda date: date.year).value_counts().sort_index()

2013     1
2014     3
2015     6
2016    12
2017    10
2018    23
2019    39
2020    45
2021    70
2022     9
dtype: int64

In [30]:
#ready for plotting export - order and make dataframe
pub_dates_export = publication_dates_use.astype('datetime64[ns]').apply(lambda date: date.year).value_counts().sort_index().to_frame()

In [31]:
pub_dates_export

       0
2013   1
2014   3
2015   6
2016  12
2017  10
2018  23
2019  39
2020  45
2021  70
2022   9

In [32]:
#update column names
pub_dates_export_ready = pub_dates_export.reset_index(level=0)
pub_dates_export_ready.columns = ['year', 'count']
pub_dates_export_ready

   year  count
0  2013      1
1  2014      3
2  2015      6
3  2016     12
4  2017     10
5  2018     23
6  2019     39
7  2020     45
8  2021     70
9  2022      9

In [33]:
#add column with name of repo
pub_dates_export_ready['repo'] = 'dryad'

In [34]:
pub_dates_export_ready

   year  count   repo
0  2013      1  dryad
1  2014      3  dryad
2  2015      6  dryad
3  2016     12  dryad
4  2017     10  dryad
5  2018     23  dryad
6  2019     39  dryad
7  2020     45  dryad
8  2021     70  dryad
9  2022      9  dryad

In [35]:
#export to Figures folder
pub_dates_export_ready.to_csv('..\\..\\Figures\\Figure1\\repository_dates\\dryad_pub_years.csv')

## 6. What are the unweighted mean, median, and max file sizes among all ingested files?
**Property:** File size
**Related function:** `get_summary_statistics`

We first get the file size attribute using the crosswalk.

In [36]:
file_sizes = df.DryadRecordsCrosswalk.file_size
file_sizes

0       802735.0
1       540588.0
2       390902.0
3        11041.0
4        12461.0
          ...
2971      2060.0
2972     64813.0
2973     65255.0
2974    795941.0
2975    956532.0
Name: size, Length: 2976, dtype: float64

In [37]:
#need to replace any NaN values to get accurate median
file_sizes[file_sizes.isna()==True]

1997   NaN
Name: size, dtype: float64

In [38]:
#drop NaN values
file_sizes_use = file_sizes.dropna()

In [39]:
#get summary statistics
analysis.get_summary_statistics(file_sizes_use)

{'mean': 442714782.11563027, 'median': 568064.0, 'max': 240410703734.0}

## 7. What are the mean, median, and max number of files per object?
**Property:** URL
**Related function:** `get_summary_statistics`

`missing` is set to an empty list so that the `None` values for objects without files have "zero files"

In [40]:
files = df.DryadRecordsCrosswalk.url
files

0                         Metanonychus_Input_Matrices.zip
1                Metanonychus_UCEalignments_50percent.zip
2                Metanonychus_UCEalignments_70percent.zip
3                                         Phylogenies.zip
4                                             dataset.zip
                              ...
2971                                           Readme.txt
2972                                  PONE-D-14-48810.txt
2973    Template_taxonomy_data_(from_Appendix_S10_and_...
2974                      Dataset_Journal_survey_all.xlsx
2975                          Supplementary_Materials.pdf
Name: path, Length: 2976, dtype: object

In [41]:
#since interested in per object, need to group by ID
files_ids = pd.concat([ids, files], axis = 1)
files_ids

         id                                               path
0     28194                    Metanonychus_Input_Matrices.zip
1     28194           Metanonychus_UCEalignments_50percent.zip
2     28194           Metanonychus_UCEalignments_70percent.zip
3     28194                                    Phylogenies.zip
4     17689                                        dataset.zip
...     ...                                                ...
2971  61800                                         Readme.txt
2972  12676                                PONE-D-14-48810.txt
2973  37657  Template_taxonomy_data_(from_Appendix_S10_and_...
2974  37657                    Dataset_Journal_survey_all.xlsx
2975  37657                        Supplementary_Materials.pdf

[2976 rows x 2 columns]

In [42]:
#group by ID to get count of records/components per object
file_ids_grouped = files_ids.groupby('id').value_counts().to_frame()
file_ids_grouped

                                              0
id    path
493   README_for_consensus_data.docx          1
      all_images.csv                          1
      consensus_data.csv                      1
      gold_standard_data.csv                  1
      raw_data_for_dryad.csv.zip              1
...                                          ..
79987 Tex_partitions.txt.best_model.nex_copy  1
      Tex_partitions_6out.txt.contree.tre     1
      Texella_alignments.zip                  1
      Texfull_concat.nex                      1
      partitions.Allsamples_txt.contree.tre   1

[2941 rows x 1 columns]

In [43]:
file_ids_counts = file_ids_grouped.groupby('id').size()
file_ids_counts

id
493       7
665       1
672       4
775       2
791      15
         ..
78183     1
78209     1
78239     2
78962     2
79987     8
Length: 218, dtype: int64

In [44]:
#confirm accuracy - can see that id 493 has 7 file components
files_ids.sort_values('id').head(10)

       id                                    path
1793  493                      consensus_data.csv
1797  493  README_for_raw_data_for_dryad.csv.docx
1796  493              raw_data_for_dryad.csv.zip
1795  493                          all_images.csv
1794  493          README_for_consensus_data.docx
1792  493                       search_effort.csv
1791  493                  gold_standard_data.csv
646   665                          raw_labels.csv
1615  672            Sankar_et_al_data_file_3.zip
1614  672            Sankar_et_al_data_file_2.zip

In [45]:
#get summary statistics
analysis.get_summary_statistics(file_ids_counts)

{'mean': 13.490825688073395, 'median': 2.0, 'max': 617}

## 8. What are the unweighted mean, median, and max *dataset* sizes (1 object size = sum of that object files) among all ingested objects?

**Property:** Dataset size
**Related function:** `get_summary_statistics`

In [46]:
dataset_sizes = df.DryadRecordsCrosswalk.dataset_size
dataset_sizes

0       1769456
1       1769456
2       1769456
3       1769456
4         31656
         ...
2971    1455995
2972      89062
2973    2432316
2974    2432316
2975    2432316
Name: storageSize, Length: 2976, dtype: int64

In [47]:
#since interested in per object, need to group by ID
dataset_sizes_ids = pd.concat([ids, dataset_sizes], axis = 1)
dataset_sizes_ids

         id  storageSize
0     28194      1769456
1     28194      1769456
2     28194      1769456
3     28194      1769456
4     17689        31656
...     ...          ...
2971  61800      1455995
2972  12676        89062
2973  37657      2432316
2974  37657      2432316
2975  37657      2432316

[2976 rows x 2 columns]

In [48]:
#storage size appears to already be aggregated to ID - each unique ID has same storage size for each record within ID
dataset_sizes_ids_unique = dataset_sizes_ids.drop_duplicates()
dataset_sizes_ids_unique

         id   storageSize
0     28194       1769456
4     17689         31656
5     67581     241082358
8     40246        141267
9     50040  240410779544
...     ...           ...
2935  27035      18363137
2964  23265         70472
2965  61800       1455995
2972  12676         89062
2973  37657       2432316

[219 rows x 2 columns]

In [49]:
#confirmed - unique storage size with ID is 219, the number of unique IDs

In [50]:
#summary stats for object size, across all objects
analysis.get_summary_statistics(dataset_sizes_ids_unique['storageSize'])

{'mean': 6277159593.812785, 'median': 20990220.0, 'max': 240410779544}

## 9. How many of each scientific domain are assigned?
**Property:** Domain
**Related function:** `domains.value_counts()`

In [51]:
domains = df.DryadRecordsCrosswalk.domain
domains

0       None
1       None
2       None
3       None
4       None
        ...
2971    None
2972    None
2973    None
2974    None
2975    None
Name: fieldOfScience, Length: 2976, dtype: object

In [52]:
#domains likely to be at object level, so need to group by ID
domains_ids = pd.concat([ids, domains], axis = 1)
domains_ids

         id fieldOfScience
0     28194           None
1     28194           None
2     28194           None
3     28194           None
4     17689           None
...     ...            ...
2971  61800           None
2972  12676           None
2973  37657           None
2974  37657           None
2975  37657           None

[2976 rows x 2 columns]

In [53]:
#drop duplicates
domains_ids = domains_ids.drop_duplicates()
domains_ids

         id     fieldOfScience
0     28194               None
4     17689               None
5     67581  Physical sciences
8     40246               None
9     50040               None
...     ...                ...
2935  27035               None
2964  23265               None
2965  61800               None
2972  12676               None
2973  37657               None

[219 rows x 2 columns]

In [54]:
domains_ids = domains_ids['fieldOfScience']
domains_ids

0                    None
4                    None
5       Physical sciences
8                    None
9                    None
              ...
2935                 None
2964                 None
2965                 None
2972                 None
2973                 None
Name: fieldOfScience, Length: 219, dtype: object

In [55]:
domains_counts = domains_ids.value_counts().to_frame()
domains_counts['percent'] = domains_counts/len(domains_ids) * 100
domains_counts

                                          fieldOfScience   percent
Biological sciences                                   16  7.305936
Computer and information sciences                      8  3.652968
Earth and related environmental sciences               3  1.369863
Clinical medicine                                      3  1.369863
Medical and health sciences                            3  1.369863
Physical sciences                                      2  0.913242
Agriculture, forestry, and fisheries                   2  0.913242
Health sciences                                        2  0.913242
Environmental engineering                              2  0.913242
Civil engineering                                      1  0.456621
Chemical engineering                                   1  0.456621
Social and economic geography                          1  0.456621
Natural sciences                                       1  0.456621

## 10. What is the mean number of characters (excluding whitespaces, if possible) of usage notes per object?
**Property:** Technical details
**Related function:** `mean_characters`

In [56]:
# "usage notes" is not in crosswalk - need to return to

## 11-13. What are the mean and median total number of keyword terms per object, after merging results for Keyword, Geographic keyword, and Scientific keyword?
**Property:** Keyword

In [57]:
print(df.DryadRecordsCrosswalk.keyword)

0       [Paranonychidae, integrative taxonomy, Neogene...
1       [Paranonychidae, integrative taxonomy, Neogene...
2       [Paranonychidae, integrative taxonomy, Neogene...
3       [Paranonychidae, integrative taxonomy, Neogene...
4       [cornea thickness, RNFL, glaucoma, ocular pres...
                              ...
2971    [Biodiversity correlates, climate stability, P...
2972                                                 None
2973    [Big Data, cyberspecimen, omics, repositories,...
2974    [Big Data, cyberspecimen, omics, repositories,...
2975    [Big Data, cyberspecimen, omics, repositories,...
Name: keywords, Length: 2976, dtype: object

In [58]:
print(df.DryadRecordsCrosswalk.geographic_keyword)

0       [western North America]
1       [western North America]
2       [western North America]
3       [western North America]
4                          None
                 ...
2971                       None
2972                       None
2973                       None
2974                       None
2975                       None
Name: locations, Length: 2976, dtype: object

In [59]:
print(df.DryadRecordsCrosswalk.scientific_keyword)

None

In [60]:
#create and concatenate unique keywords fields
keywords1 = df.DryadRecordsCrosswalk.keyword
keywords2 = df.DryadRecordsCrosswalk.geographic_keyword

In [61]:
keywords_all = pd.concat([keywords1, keywords2], axis = 1)
keywords_all = pd.concat([ids, keywords_all], axis = 1)
keywords_all

,id,keywords,locations
0,28194,"[Paranonychidae, integrative taxonomy, Neogene...",[western North America]
1,28194,"[Paranonychidae, integrative taxonomy, Neogene...",[western North America]
2,28194,"[Paranonychidae, integrative taxonomy, Neogene...",[western North America]
3,28194,"[Paranonychidae, integrative taxonomy, Neogene...",[western North America]
4,17689,"[cornea thickness, RNFL, glaucoma, ocular pres...",None
...,...,...,...
2971,61800,"[Biodiversity correlates, climate stability, P...",None
2972,12676,None,None
2973,37657,"[Big Data, cyberspecimen, omics, repositories,...",None
2974,37657,"[Big Data, cyberspecimen, omics, repositories,...",None
2975,37657,"[Big Data, cyberspecimen, omics, repositories,...",None

In [62]:
#replace the None values with empty lists so the count of string values evaluates to 0
keywords_all = keywords_all.apply(
    lambda row: row.apply(
        lambda cell: cell if cell else []
    ),
    axis=1
)
keywords_all

,id,keywords,locations
0,28194,"[Paranonychidae, integrative taxonomy, Neogene...",[western North America]
1,28194,"[Paranonychidae, integrative taxonomy, Neogene...",[western North America]
2,28194,"[Paranonychidae, integrative taxonomy, Neogene...",[western North America]
3,28194,"[Paranonychidae, integrative taxonomy, Neogene...",[western North America]
4,17689,"[cornea thickness, RNFL, glaucoma, ocular pres...",[]
...,...,...,...
2971,61800,"[Biodiversity correlates, climate stability, P...",[]
2972,12676,[],[]
2973,37657,"[Big Data, cyberspecimen, omics, repositories,...",[]
2974,37657,"[Big Data, cyberspecimen, omics, repositories,...",[]
2975,37657,"[Big Data, cyberspecimen, omics, repositories,...",[]

In [63]:
#pandas df is picky about dropping duplicates when have lists in column
#so keep just first row for each ID
keywords_unique = keywords_all.groupby('id').first()
keywords_unique

,keywords,locations
id,,
493,"[Canis, Alcelaphus buselaphus, Numidia meleagr...","[Serengeti National Park, Tanzania, Serengeti-..."
665,[],[]
672,"[Arabidopsis thaliana, cellular features, seco...",[]
775,[],[]
791,"[beta lactamase, CTX-M9]",[]
...,...,...
78183,[],[]
78209,[],[]
78239,[],[]
78962,"[Diagonal of Open Formations, Neotropics, rang...",[]
79987,[],[]

In [64]:
#count keywords for each id (each row)
keyword_counts = keywords_unique.apply(
    lambda row: sum([len(row[entry]) for entry in keywords_unique.columns if row[entry]]),
    axis=1
)
keyword_counts

id
493      48
665       0
672       4
775       0
791       2
         ..
78183     0
78209     0
78239     0
78962     5
79987     0
Length: 219, dtype: int64

In [65]:
#get summary statistics
analysis.get_summary_statistics(keyword_counts)

{'mean': 4.063926940639269, 'median': 3.0, 'max': 92}

#### confirm calculation accuracy - counting keyword phrases, not each individual word

In [66]:
keywords_unique.iloc[7]['keywords']

['Salmo salar', 'SNP Selection', 'Individual Assignment']

In [67]:
len(keywords_unique.iloc[7]['keywords'])

3

In [68]:
keywords_unique.iloc[7]['locations']

['Labrador']

In [69]:
len(keywords_unique.iloc[7]['locations'])

1

## 14. Who are the most common funding agencies for each repo? What are the object counts per agency?
**Property:** Funding Agency

In [70]:
funders = df.DryadRecordsCrosswalk.funding_agency
funders

0                           [National Science Foundation]
1                           [National Science Foundation]
2                           [National Science Foundation]
3                           [National Science Foundation]
4                                                    None
                              ...
2971    [Fulbright Colombia, Fundação de Amparo à Pesq...
2972                                                 None
2973                                                 None
2974                                                 None
2975                                                 None
Name: funders, Length: 2976, dtype: object

In [71]:
#since interested in per object, need to group by ID
funders_ids = pd.concat([ids, funders], axis = 1)
funders_ids

         id                                            funders
0     28194                      [National Science Foundation]
1     28194                      [National Science Foundation]
2     28194                      [National Science Foundation]
3     28194                      [National Science Foundation]
4     17689                                               None
...     ...                                                ...
2971  61800  [Fulbright Colombia, Fundação de Amparo à Pesq...
2972  12676                                               None
2973  37657                                               None
2974  37657                                               None
2975  37657                                               None

[2976 rows x 2 columns]

In [72]:
#may be more than one funder per object, so expand
funders_long = funders_ids.explode(['funders'])
funders_long

         id                                            funders
0     28194                        National Science Foundation
1     28194                        National Science Foundation
2     28194                        National Science Foundation
3     28194                        National Science Foundation
4     17689                                               None
...     ...                                                ...
2971  61800  Conselho Nacional de Desenvolvimento Científic...
2972  12676                                               None
2973  37657                                               None
2974  37657                                               None
2975  37657                                               None

[5611 rows x 2 columns]

In [73]:
#drop duplicates so each object has a row for each funder of object
funders_long_unique = funders_long.drop_duplicates()
funders_long_unique

         id                                            funders
0     28194                        National Science Foundation
4     17689                                               None
5     67581                        National Science Foundation
5     67581                                  Office of Science
5     67581                          Hasso Plattner Foundation
...     ...                                                ...
2965  61800  Fundação de Amparo à Pesquisa do Estado de São...
2965  61800      National Aeronautics and Space Administration
2965  61800  Conselho Nacional de Desenvolvimento Científic...
2972  12676                                               None
2973  37657                                               None

[323 rows x 2 columns]

In [74]:
funders_counts = funders_long_unique.value_counts('funders')
funders_counts

funders
National Science Foundation                                                          29
National Natural Science Foundation of China                                          4
National Institutes of Health                                                         4
U.S. Department of Energy                                                             4
U.S. Department of Agriculture                                                        3
                                                                                     ..
Hatch Act capacity funding program                                                    1
Hasso Plattner Foundation                                                             1
Guangzhou Institute of Pediatrics, Guangzhou Women and Children’s Medical Center*     1
Guangzhou Institute of Pediatrics, Guangzhou Women and Children’s Medical Center      1
Youth Innovation Promotion Association of the Chinese Academy of Sciences             1
Length: 134, dtype: int64

## 15. What are the mean, median, and max number of Views per object?
**Property:** Views
**Related function:** `get_summary_statistics`

In [75]:
views = df.DryadRecordsCrosswalk.views
views

0       165
1       165
2       165
3       165
4       550
       ...
2971     34
2972    243
2973     23
2974     23
2975     23
Name: numViews, Length: 2976, dtype: int64

In [76]:
#since interested in per object, need to group by ID
views_ids = pd.concat([ids, views], axis = 1)
views_ids

         id  numViews
0     28194       165
1     28194       165
2     28194       165
3     28194       165
4     17689       550
...     ...       ...
2971  61800        34
2972  12676       243
2973  37657        23
2974  37657        23
2975  37657        23

[2976 rows x 2 columns]

In [77]:
#views already unique at object level
views_ids_unique = views_ids.drop_duplicates()
views_ids_unique

         id  numViews
0     28194       165
4     17689       550
5     67581        38
8     40246        98
9     50040        30
...     ...       ...
2935  27035       141
2964  23265       131
2965  61800        34
2972  12676       243
2973  37657        23

[219 rows x 2 columns]

In [78]:
analysis.get_summary_statistics(views_ids_unique['numViews'])

{'mean': 173.53424657534248, 'median': 79.0, 'max': 4681}

## 16. What are the mean, median, and max (total) number of downloads per object?
**Property:** Downloads
**Related function:** `get_summary_statistics`

In [79]:
downloads = df.DryadRecordsCrosswalk.downloads
downloads

0        39
1        39
2        39
3        39
4       260
       ...
2971     10
2972     85
2973      7
2974      7
2975      7
Name: numDownloads, Length: 2976, dtype: int64

In [80]:
#since interested in per object, need to group by ID
downloads_ids = pd.concat([ids, downloads], axis = 1)
downloads_ids

         id  numDownloads
0     28194            39
1     28194            39
2     28194            39
3     28194            39
4     17689           260
...     ...           ...
2971  61800            10
2972  12676            85
2973  37657             7
2974  37657             7
2975  37657             7

[2976 rows x 2 columns]

In [81]:
#downloads already unique at object level
downloads_ids_unique = downloads_ids.drop_duplicates()
downloads_ids_unique

         id  numDownloads
0     28194            39
4     17689           260
5     67581             0
8     40246            11
9     50040             9
...     ...           ...
2935  27035            34
2964  23265            45
2965  61800            10
2972  12676            85
2973  37657             7

[219 rows x 2 columns]

In [82]:
#get summary statistics
analysis.get_summary_statistics(downloads_ids_unique['numDownloads'])

{'mean': 85.53424657534246, 'median': 12.0, 'max': 4557}

## 17. What are the mean, median, and max Citation counts per object?
**Property:** Citation count
**Related function:** `get_summary_statistics`

In [83]:
citation_count = df.DryadRecordsCrosswalk.citation_count
citation_count

0       1
1       1
2       1
3       1
4       1
       ..
2971    0
2972    1
2973    0
2974    0
2975    0
Name: numCitations, Length: 2976, dtype: int64

In [84]:
#since interested in per object, need to group by ID
citation_ids = pd.concat([ids, citation_count], axis = 1)
citation_ids

         id  numCitations
0     28194             1
1     28194             1
2     28194             1
3     28194             1
4     17689             1
...     ...           ...
2971  61800             0
2972  12676             1
2973  37657             0
2974  37657             0
2975  37657             0

[2976 rows x 2 columns]

In [85]:
#citation counts already unique at object level
citation_ids_unique = citation_ids.drop_duplicates()
citation_ids_unique

         id  numCitations
0     28194             1
4     17689             1
5     67581             2
8     40246             1
9     50040             1
...     ...           ...
2935  27035             1
2964  23265             1
2965  61800             0
2972  12676             1
2973  37657             0

[219 rows x 2 columns]

In [86]:
#get summary statistics
analysis.get_summary_statistics(citation_ids_unique['numCitations'])

{'mean': 0.4429223744292237, 'median': 0.0, 'max': 5}

## 18. How many objects contain each given resource type?
**Property:** Resource type

In [87]:
resource_types = df.DryadRecordsCrosswalk.resource_type
resource_types

In [88]:
#confirm missing for this repo
print(df.DryadRecordsCrosswalk.resource_type)

None

## 19. How many objects contain each type of file extension given?
**Property:** File Extension
**Related function:** `get_file_extensions`

In [89]:
files = df.DryadRecordsCrosswalk.file_extension
files

0                         Metanonychus_Input_Matrices.zip
1                Metanonychus_UCEalignments_50percent.zip
2                Metanonychus_UCEalignments_70percent.zip
3                                         Phylogenies.zip
4                                             dataset.zip
                              ...
2971                                           Readme.txt
2972                                  PONE-D-14-48810.txt
2973    Template_taxonomy_data_(from_Appendix_S10_and_...
2974                      Dataset_Journal_survey_all.xlsx
2975                          Supplementary_Materials.pdf
Name: path, Length: 2976, dtype: object

In [90]:
#since interested in per object, need to group by ID
files_ids = pd.concat([ids, files], axis = 1)
files_ids

         id                                               path
0     28194                    Metanonychus_Input_Matrices.zip
1     28194           Metanonychus_UCEalignments_50percent.zip
2     28194           Metanonychus_UCEalignments_70percent.zip
3     28194                                    Phylogenies.zip
4     17689                                        dataset.zip
...     ...                                                ...
2971  61800                                         Readme.txt
2972  12676                                PONE-D-14-48810.txt
2973  37657  Template_taxonomy_data_(from_Appendix_S10_and_...
2974  37657                    Dataset_Journal_survey_all.xlsx
2975  37657                        Supplementary_Materials.pdf

[2976 rows x 2 columns]

In [91]:
#put all files in a single ID into a list for that ID
files_ids_list = files_ids.groupby('id')['path'].apply(list)
files_ids_list

id
493      [gold_standard_data.csv, search_effort.csv, co...
665                                       [raw_labels.csv]
672      [Sankar_et_al_data_file_1.zip, Sankar_et_al_da...
775      [df_spectral_and_health_plosone.xlsx, df_spect...
791      [ctx_acyl.tpr, ctx_pocket_trajs.tgz, l48a_pock...
                               ...
78183                                       [raw_data.zip]
78209    [learning-protein-fitness-from-evolutionary-an...
78239                  [S1_Raw_data_drone.csv, readme.txt]
78962                               [README.txt, Data.zip]
79987    [SVD_Tex6out_concat.tre, Tex6out_concat.nex, S...
Name: path, Length: 219, dtype: object

In [92]:
#replace None values with empty list
files_ids_list = files_ids_list.apply(lambda d: d if isinstance(d, list) else [])
files_ids_list

id
493      [gold_standard_data.csv, search_effort.csv, co...
665                                       [raw_labels.csv]
672      [Sankar_et_al_data_file_1.zip, Sankar_et_al_da...
775      [df_spectral_and_health_plosone.xlsx, df_spect...
791      [ctx_acyl.tpr, ctx_pocket_trajs.tgz, l48a_pock...
                               ...
78183                                       [raw_data.zip]
78209    [learning-protein-fitness-from-evolutionary-an...
78239                  [S1_Raw_data_drone.csv, readme.txt]
78962                               [README.txt, Data.zip]
79987    [SVD_Tex6out_concat.tre, Tex6out_concat.nex, S...
Name: path, Length: 219, dtype: object

In [93]:
#first iteration run revealed a lingering [None] list value, which caused code to error
#this is ID 30410, index 86
files_ids_list.index[86]

30410

In [94]:
#drop this value                                          
files_ids_clean = files_ids_list.drop(files_ids_list.index[86])
files_ids_clean

id
493      [gold_standard_data.csv, search_effort.csv, co...
665                                       [raw_labels.csv]
672      [Sankar_et_al_data_file_1.zip, Sankar_et_al_da...
775      [df_spectral_and_health_plosone.xlsx, df_spect...
791      [ctx_acyl.tpr, ctx_pocket_trajs.tgz, l48a_pock...
                               ...
78183                                       [raw_data.zip]
78209    [learning-protein-fitness-from-evolutionary-an...
78239                  [S1_Raw_data_drone.csv, readme.txt]
78962                               [README.txt, Data.zip]
79987    [SVD_Tex6out_concat.tre, Tex6out_concat.nex, S...
Name: path, Length: 218, dtype: object

The following code separates the full file extensions (all dot-separated values after the first dot) for a list of files and creates a set, allowing us to only look at the number of objects that contain a given extension.

In [95]:
files_extension_set = files_ids_clean.apply(
    lambda file_list: list({''.join(Path(file).suffixes) for file in file_list})
)
files_extension_set

id
493                     [.csv.docx, .csv.zip, .docx, .csv]
665                                                 [.csv]
672                                                 [.zip]
775                                           [.xlsx, .h5]
791                   [.pdb, .itp, .tgz, .tpr, .rtp, .atp]
                               ...
78183                                               [.zip]
78209                                            [.tar.gz]
78239                                         [.txt, .csv]
78962                                         [.txt, .zip]
79987    [.nex, .txt.best_model.nex_copy, .Allsamples_t...
Name: path, Length: 218, dtype: object

In [96]:
#confirm accuracy
files_ids[files_ids['id'] == 493]

       id                                    path
1791  493                  gold_standard_data.csv
1792  493                       search_effort.csv
1793  493                      consensus_data.csv
1794  493          README_for_consensus_data.docx
1795  493                          all_images.csv
1796  493              raw_data_for_dryad.csv.zip
1797  493  README_for_raw_data_for_dryad.csv.docx

In [97]:
#object id 493 has 7 files, across 4 file types
#(for our purposes, csv.zip != csv)
files_extension_set[493]

['.csv.docx', '.csv.zip', '.docx', '.csv']

In [98]:
#expand so each file within object is own row
files_ext_ids = files_extension_set.explode().to_frame()
files_ext_ids

                              path
id
493                      .csv.docx
493                       .csv.zip
493                          .docx
493                           .csv
665                           .csv
...                            ...
79987     .txt.best_model.nex_copy
79987  .Allsamples_txt.contree.tre
79987                         .tre
79987             .txt.contree.tre
79987                         .zip

[475 rows x 1 columns]

In [99]:
#get ESTIMATE of most common file formats - needs clean up

#group by extension type to count how many objects have each file type
ext_grouped = files_ext_ids.groupby('path').value_counts().to_frame().sort_values(by = 0, ascending = False)
ext_grouped['percent'] = round(ext_grouped/len(files_ids_list) * 100)
ext_grouped[ext_grouped['percent'] >= 5]

          0  percent
path
.zip     72     33.0
.txt     57     26.0
.csv     52     24.0
.xlsx    41     19.0
.docx    23     11.0
.pdf     19      9.0
.tar.gz  16      7.0
.R       15      7.0

In [100]:
#export for further clean up, refining estimates, and plotting

In [101]:
#reset index and update column names
ext_grouped_ready = files_ext_ids.reset_index(level=0)
ext_grouped_ready.columns = ['index', 'files']

#add column with name of repo
ext_grouped_ready['repo'] = 'dryad'

ext_grouped_ready

     index                        files   repo
0      493                    .csv.docx  dryad
1      493                     .csv.zip  dryad
2      493                        .docx  dryad
3      493                         .csv  dryad
4      665                         .csv  dryad
..     ...                          ...    ...
470  79987     .txt.best_model.nex_copy  dryad
471  79987  .Allsamples_txt.contree.tre  dryad
472  79987                         .tre  dryad
473  79987             .txt.contree.tre  dryad
474  79987                         .zip  dryad

[475 rows x 3 columns]

In [102]:
#export to Figures folder
ext_grouped_ready.to_csv('..\\..\\Figures\\Figure2\\file_ext_data\\dryad_extensions.csv')

## 19.5 How many files of each type of file extension are present?
**Property:** File extension

In [103]:
#pick up from files
files

0                         Metanonychus_Input_Matrices.zip
1                Metanonychus_UCEalignments_50percent.zip
2                Metanonychus_UCEalignments_70percent.zip
3                                         Phylogenies.zip
4                                             dataset.zip
                              ...
2971                                           Readme.txt
2972                                  PONE-D-14-48810.txt
2973    Template_taxonomy_data_(from_Appendix_S10_and_...
2974                      Dataset_Journal_survey_all.xlsx
2975                          Supplementary_Materials.pdf
Name: path, Length: 2976, dtype: object

In [104]:
#remove None
files_ext_all = pd.Series(filter(None, files))
files_ext_all

0                         Metanonychus_Input_Matrices.zip
1                Metanonychus_UCEalignments_50percent.zip
2                Metanonychus_UCEalignments_70percent.zip
3                                         Phylogenies.zip
4                                             dataset.zip
                              ...
2970                                           Readme.txt
2971                                  PONE-D-14-48810.txt
2972    Template_taxonomy_data_(from_Appendix_S10_and_...
2973                      Dataset_Journal_survey_all.xlsx
2974                          Supplementary_Materials.pdf
Length: 2975, dtype: object

In [105]:
files_ext_all_df = files_ext_all.apply(lambda fn: Path(fn).suffixes)
files_ext_all_df

0        [.zip]
1        [.zip]
2        [.zip]
3        [.zip]
4        [.zip]
         ...
2970     [.txt]
2971     [.txt]
2972    [.xlsx]
2973    [.xlsx]
2974     [.pdf]
Length: 2975, dtype: object

In [106]:
files_ext_counts = files_ext_all_df.value_counts().to_frame()
files_ext_counts.head(10)

                 0
[.zip]         444
[.jpg]         346
[.tsv]         312
[.fasta]       308
[.fastq, .gz]  280
[.phy]         271
[.tif]         199
[.txt]         154
[.csv]         121
[.xlsx]         60

## 20. How many objects contain each type of File format given?
**Property:** File format

In [107]:
file_formats = df.DryadRecordsCrosswalk.file_format
file_formats

In [108]:
#confirm missing for this repo
print(df.DryadRecordsCrosswalk.file_format)

None

## 21. How many objects contain each type of Media type given?
**Property:** Media type

In [109]:
media_types = df.DryadRecordsCrosswalk.media_type
media_types

0                                         application/zip
1                                         application/zip
2                                         application/zip
3                                         application/zip
4                                         application/zip
                              ...
2971                                           text/plain
2972                                           text/plain
2973    application/vnd.openxmlformats-officedocument....
2974    application/vnd.openxmlformats-officedocument....
2975                                      application/pdf
Name: mimeType, Length: 2976, dtype: object

In [110]:
#since interested in per object, need to group by ID
media_ids = pd.concat([ids, media_types], axis = 1)
media_ids

         id                                           mimeType
0     28194                                    application/zip
1     28194                                    application/zip
2     28194                                    application/zip
3     28194                                    application/zip
4     17689                                    application/zip
...     ...                                                ...
2971  61800                                         text/plain
2972  12676                                         text/plain
2973  37657  application/vnd.openxmlformats-officedocument....
2974  37657  application/vnd.openxmlformats-officedocument....
2975  37657                                    application/pdf

[2976 rows x 2 columns]

In [111]:
#drop duplicates
media_ids_unique = media_ids.drop_duplicates()
media_ids_unique

         id                                           mimeType
0     28194                                    application/zip
4     17689                                    application/zip
5     67581
7     67581                                         text/plain
8     40246                           application/octet-stream
...     ...                                                ...
2968  61800                           application/octet-stream
2971  61800                                         text/plain
2972  12676                                         text/plain
2973  37657  application/vnd.openxmlformats-officedocument....
2975  37657                                    application/pdf

[384 rows x 2 columns]

In [112]:
#group by media type to find number of objects
media_grouped = media_ids_unique.groupby('mimeType').value_counts().groupby('mimeType').size().sort_values(ascending = False)
media_grouped = pd.DataFrame(media_grouped)

In [113]:
media_grouped['percent'] = round(media_grouped[0]/len(files_ids_list) * 100)
media_grouped[media_grouped['percent'] >= 5]

                                                     0  percent
mimeType
text/plain                                          67     31.0
application/zip                                     61     28.0
application/vnd.openxmlformats-officedocument.s...  42     19.0
application/octet-stream                            38     17.0
text/csv                                            34     16.0
application/vnd.openxmlformats-officedocument.w...  23     11.0
application/vnd.ms-excel                            20      9.0
application/pdf                                     19      9.0
application/x-gzip                                  16      7.0
application/x-zip-compressed                        14      6.0
                                                    10      5.0

## 22. a) How many objects report one related resource type, and b) how many objects report each of those types? c) How many objects report multiple related resource types (regardless of which types)?
**Property:** Related resource type

In [114]:
related_resource_types = df.DryadRecordsCrosswalk.related_resource_type
related_resource_types

0       [primary_article]
1       [primary_article]
2       [primary_article]
3       [primary_article]
4       [primary_article]
              ...
2971    [primary_article]
2972    [primary_article]
2973                 None
2974                 None
2975                 None
Name: relatedWorks, Length: 2976, dtype: object

In [115]:
#confirm missing for this repo
print(df.DryadRecordsCrosswalk.related_resource_type)

0       [primary_article]
1       [primary_article]
2       [primary_article]
3       [primary_article]
4       [primary_article]
              ...
2971    [primary_article]
2972    [primary_article]
2973                 None
2974                 None
2975                 None
Name: relatedWorks, Length: 2976, dtype: object


## 23-25. If there is an entry for an object in one of the three properties (Original data URL, Primary manuscript PID/URL, and Related resource identifier) count as Related resources = True and then count the number of objects that return True.
**Property:** Related Resource Identifier

In [116]:
print(df.DryadRecordsCrosswalk.original_data_url)

None

In [117]:
print(df.DryadRecordsCrosswalk.primary_manuscript)

0        [https://doi.org/10.1016/j.ympev.2019.106562]
1        [https://doi.org/10.1016/j.ympev.2019.106562]
2        [https://doi.org/10.1016/j.ympev.2019.106562]
3        [https://doi.org/10.1016/j.ympev.2019.106562]
4       [https://doi.org/10.1371/journal.pone.0177726]
                             ...
2971               [https://doi.org/10.1111/jbi.14083]
2972    [https://doi.org/10.1371/journal.pone.0125049]
2973                                              None
2974                                              None
2975                                              None
Name: relatedWorks, Length: 2976, dtype: object

In [118]:
print(df.DryadRecordsCrosswalk.related_resource_identifier)

0        [https://doi.org/10.1016/j.ympev.2019.106562]
1        [https://doi.org/10.1016/j.ympev.2019.106562]
2        [https://doi.org/10.1016/j.ympev.2019.106562]
3        [https://doi.org/10.1016/j.ympev.2019.106562]
4       [https://doi.org/10.1371/journal.pone.0177726]
                             ...
2971               [https://doi.org/10.1111/jbi.14083]
2972    [https://doi.org/10.1371/journal.pone.0125049]
2973                                              None
2974                                              None
2975                                              None
Name: relatedWorks, Length: 2976, dtype: object

In [119]:
related_resource1 = df.DryadRecordsCrosswalk.primary_manuscript
related_resource2 = df.DryadRecordsCrosswalk.related_resource_identifier

In [120]:
#concatenate resources along with id
related_resource_all = pd.concat([related_resource1, related_resource2], axis = 1)
related_resource_all = pd.concat([related_resource_all, ids], axis = 1)
related_resource_all

,relatedWorks,relatedWorks,id
0,[https://doi.org/10.1016/j.ympev.2019.106562],[https://doi.org/10.1016/j.ympev.2019.106562],28194
1,[https://doi.org/10.1016/j.ympev.2019.106562],[https://doi.org/10.1016/j.ympev.2019.106562],28194
2,[https://doi.org/10.1016/j.ympev.2019.106562],[https://doi.org/10.1016/j.ympev.2019.106562],28194
3,[https://doi.org/10.1016/j.ympev.2019.106562],[https://doi.org/10.1016/j.ympev.2019.106562],28194
4,[https://doi.org/10.1371/journal.pone.0177726],[https://doi.org/10.1371/journal.pone.0177726],17689
...,...,...,...
2971,[https://doi.org/10.1111/jbi.14083],[https://doi.org/10.1111/jbi.14083],61800
2972,[https://doi.org/10.1371/journal.pone.0125049],[https://doi.org/10.1371/journal.pone.0125049],12676
2973,None,None,37657
2974,None,None,37657
2975,None,None,37657

In [121]:
#replace the None values with empty lists so the count of string values evaluates to 0
related_resource_all = related_resource_all.apply(
    lambda row: row.apply(
        lambda cell: cell if cell else []
    ),
    axis=1
)
related_resource_all

,relatedWorks,relatedWorks,id
0,[https://doi.org/10.1016/j.ympev.2019.106562],[https://doi.org/10.1016/j.ympev.2019.106562],28194
1,[https://doi.org/10.1016/j.ympev.2019.106562],[https://doi.org/10.1016/j.ympev.2019.106562],28194
2,[https://doi.org/10.1016/j.ympev.2019.106562],[https://doi.org/10.1016/j.ympev.2019.106562],28194
3,[https://doi.org/10.1016/j.ympev.2019.106562],[https://doi.org/10.1016/j.ympev.2019.106562],28194
4,[https://doi.org/10.1371/journal.pone.0177726],[https://doi.org/10.1371/journal.pone.0177726],17689
...,...,...,...
2971,[https://doi.org/10.1111/jbi.14083],[https://doi.org/10.1111/jbi.14083],61800
2972,[https://doi.org/10.1371/journal.pone.0125049],[https://doi.org/10.1371/journal.pone.0125049],12676
2973,[],[],37657
2974,[],[],37657
2975,[],[],37657

In [122]:
#confirm that the 2 columns are identical, meaning we only need one of these
related_resource_all.iloc[:,0].equals(related_resource_all.iloc[:,1])

True

In [123]:
#keep only one of the columns
related_resource_use = related_resource_all.iloc[:, [0,2]]

In [124]:
related_resource_use

                                        relatedWorks     id
0      [https://doi.org/10.1016/j.ympev.2019.106562]  28194
1      [https://doi.org/10.1016/j.ympev.2019.106562]  28194
2      [https://doi.org/10.1016/j.ympev.2019.106562]  28194
3      [https://doi.org/10.1016/j.ympev.2019.106562]  28194
4     [https://doi.org/10.1371/journal.pone.0177726]  17689
...                                              ...    ...
2971             [https://doi.org/10.1111/jbi.14083]  61800
2972  [https://doi.org/10.1371/journal.pone.0125049]  12676
2973                                              []  37657
2974                                              []  37657
2975                                              []  37657

[2976 rows x 2 columns]

In [125]:
#expand related works list and remove duplicates
#(duplicates because unique ID has multiple rows)
related_resource_use = related_resource_use.explode('relatedWorks')
related_resource_use = related_resource_use.drop_duplicates()
related_resource_use

                                      relatedWorks     id
0      https://doi.org/10.1016/j.ympev.2019.106562  28194
4     https://doi.org/10.1371/journal.pone.0177726  17689
5                 https://arxiv.org/abs/2101.08944  67581
5           https://doi.org/10.5281/zenodo.4706055  67581
5           https://doi.org/10.5281/zenodo.4706191  67581
...                                            ...    ...
2935       https://doi.org/10.1111/1365-2664.12681  27035
2964  https://doi.org/10.1371/journal.pone.0214808  23265
2965             https://doi.org/10.1111/jbi.14083  61800
2972  https://doi.org/10.1371/journal.pone.0125049  12676
2973                                           NaN  37657

[252 rows x 2 columns]

In [126]:
#remove None/NaN
related_resource_use = related_resource_use.dropna()
related_resource_use

                                      relatedWorks     id
0      https://doi.org/10.1016/j.ympev.2019.106562  28194
4     https://doi.org/10.1371/journal.pone.0177726  17689
5                 https://arxiv.org/abs/2101.08944  67581
5           https://doi.org/10.5281/zenodo.4706055  67581
5           https://doi.org/10.5281/zenodo.4706191  67581
...                                            ...    ...
2931     https://doi.org/10.1186/s40462-019-0172-6  28463
2935       https://doi.org/10.1111/1365-2664.12681  27035
2964  https://doi.org/10.1371/journal.pone.0214808  23265
2965             https://doi.org/10.1111/jbi.14083  61800
2972  https://doi.org/10.1371/journal.pone.0125049  12676

[195 rows x 2 columns]

In [127]:
#there are duplicate rows per ID
related_resource_use.id.value_counts()

42372    8
64596    4
62405    3
67581    3
53069    3
        ..
43757    1
23144    1
29230    1
1383     1
12676    1
Name: id, Length: 162, dtype: int64

In [128]:
#find number of unique IDs to get number of objects
rr_objs = related_resource_use['id'].nunique()
rr_objs

162

In [129]:
print(f'There are {rr_objs} objects with a related resource link')

There are 162 objects with a related resource link

## 23-25. Also, what is the mean number of related resource links per object (again looking at the three properties (Original data URL, Primary manuscript PID/URL, and Related resource identifier)?
**Property:** Related Resource Identifier

We want to calculate this value to be mean number of links *for objects that have links*

We can use `related_resource_use`, grouped by `id`, since each row is a unique related resource link

In [130]:
related_resource_use.head()

                                   relatedWorks     id
0   https://doi.org/10.1016/j.ympev.2019.106562  28194
4  https://doi.org/10.1371/journal.pone.0177726  17689
5              https://arxiv.org/abs/2101.08944  67581
5        https://doi.org/10.5281/zenodo.4706055  67581
5        https://doi.org/10.5281/zenodo.4706191  67581

In [131]:
rr_counts = related_resource_use.id.value_counts()
rr_counts

42372    8
64596    4
62405    3
67581    3
53069    3
        ..
43757    1
23144    1
29230    1
1383     1
12676    1
Name: id, Length: 162, dtype: int64

In [132]:
print(f'mean {round(rr_counts.mean(), 3)} links per object')

mean 1.204 links per object

In [133]:
print(f'median {round(rr_counts.median(), 3)} links per object')

median 1.0 links per object

## 26. How many objects report each relation type? How many objects report multiple relation types, regardless of what those types are?
**Property:** Related resource relation type

In [134]:
relation_type = df.DryadRecordsCrosswalk.related_resource_relation_type
relation_type

0       [DOI]
1       [DOI]
2       [DOI]
3       [DOI]
4       [DOI]
        ...
2971    [DOI]
2972    [DOI]
2973     None
2974     None
2975     None
Name: relatedWorks, Length: 2976, dtype: object

In [135]:
#since interested in per object, need to group by ID
relation_type_ids = pd.concat([ids, relation_type], axis = 1)
relation_type_ids

         id relatedWorks
0     28194        [DOI]
1     28194        [DOI]
2     28194        [DOI]
3     28194        [DOI]
4     17689        [DOI]
...     ...          ...
2971  61800        [DOI]
2972  12676        [DOI]
2973  37657         None
2974  37657         None
2975  37657         None

[2976 rows x 2 columns]

#### How many objects report each relation type?

In [136]:
#expand so each type within object is own row, keep unique
relation_type_ids_unique = relation_type_ids.explode('relatedWorks')
relation_type_ids_unique = relation_type_ids_unique.drop_duplicates()
relation_type_ids_unique

         id relatedWorks
0     28194          DOI
4     17689          DOI
5     67581          URL
5     67581          DOI
8     40246          DOI
...     ...          ...
2935  27035          DOI
2964  23265          DOI
2965  61800          DOI
2972  12676          DOI
2973  37657         None

[225 rows x 2 columns]

In [137]:
#confirmed accuracy

#from relation_type_ids
# 5	67581	[URL, DOI, DOI]
# 6	67581	[URL, DOI, DOI]

#from relation_type_ids_unique
# 5	67581	URL
# 5	67581	DOI

In [138]:
relation_type_ids_grouped = relation_type_ids_unique.groupby('relatedWorks').size().to_frame()
relation_type_ids_grouped

                0
relatedWorks
DOI           153
URL            15

#### How many objects report multiple relation types, regardless of what those types are?

In [139]:
relation_type_ids_unique = relation_type_ids_unique.dropna()
relation_type_ids_unique

         id relatedWorks
0     28194          DOI
4     17689          DOI
5     67581          URL
5     67581          DOI
8     40246          DOI
...     ...          ...
2931  28463          DOI
2935  27035          DOI
2964  23265          DOI
2965  61800          DOI
2972  12676          DOI

[168 rows x 2 columns]

In [140]:
relation_type_ids_unique.groupby('id').size().to_frame().groupby(0).size().to_frame()

     0
0
1  156
2    6

## 27. For repositories that store the full citation in a designated field, how many objects have a populated citation? How many objects have a citation and a URL or other actionable link?
**Property:** Citation

In [141]:
citations = df.DryadRecordsCrosswalk.citation
citations

In [142]:
#confirm missing for this repo
print(df.DryadRecordsCrosswalk.citation)

None